CPU="1"
DISK=[
  BUS="virtio",
  CACHE="writeback",
  DRIVER="raw",
  IMAGE="gentoo2",
  IMAGE_UNAME="psutra",
  TARGET="hda" ]
DISK=[
  BUS="virtio",
  CACHE="writeback",
  DRIVER="raw",
  IMAGE="gentoo-opt-client-bk",
  IMAGE_UNAME="psutra" ]
MEMORY="4096"
NAME="gentoo-bookkeeper-client-template"
NIC=[
  NETWORK="pasin-vnet-2079",
  NETWORK_UNAME="mpasin" ]
OS=[
  ARCH="i686",
  BOOT="hd" ]
RAW=[
  TYPE="kvm" ]
TEMPLATE_ID="125"
VCPU="8"
