CONTEXT=[
  TARGET="hdc",
  ZK_PEERS="@ZK_PEERS@" ]
CPU="0.25"
DISK=[
  BUS="virtio",
  CACHE="writeback",
  DRIVER="raw",
  IMAGE="gentoo3",
  IMAGE_UNAME="psutra",
  TARGET="hda" ]
DISK=[
  BUS="virtio",
  CACHE="writeback",
  DRIVER="raw",
  IMAGE="gentoo-opt-bookkeeper3",
  IMAGE_UNAME="psutra",
  TARGET="hdb" ]
MEMORY="1024"
NIC=[
  MODEL="virtio",
  NETWORK="pasin-vnet-2079",
  NETWORK_UNAME="mpasin" ]
OS=[
  ARCH="i686",
  BOOT="hd" ]
RAW=[
  TYPE="kvm" ]
TEMPLATE_ID="183"
VCPU="2"
