CONTEXT=[
  TARGET="hdc",
  ZK_PEERS="192.168.79.201 192.168.79.202 192.168.79.203" ]
CPU="0.125"
DISK=[
  DRIVER="raw",
  IMAGE="gentoo",
  IMAGE_UNAME="psutra",
  TARGET="hda" ]
DISK=[
  DRIVER="raw",
  IMAGE="gentoo-opt-zookeeper",
  IMAGE_UNAME="psutra",
  TARGET="hdb" ]
MEMORY="2048"
NAME="gentoo-zookeeper-template"
NIC=[
  IP="192.168.79.203",
  NETWORK="pasin-vnet-2079",
  NETWORK_UNAME="mpasin" ]
OS=[
  ARCH="i686",
  BOOT="hd" ]
RAW=[
  TYPE="kvm" ]
TEMPLATE_ID="183"
VCPU="1"
